
example/.packages
example/android/.gradle/4.10.2/fileChanges/last-build.bin
example/android/.gradle/4.10.2/fileContent/fileContent.lock
example/android/.gradle/4.10.2/fileHashes/fileHashes.bin
example/android/.gradle/4.10.2/fileHashes/fileHashes.lock
example/android/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
example/android/.gradle/4.10.2/gc.properties
example/android/.gradle/4.10.2/javaCompile/classAnalysis.bin
example/android/.gradle/4.10.2/javaCompile/jarAnalysis.bin
example/android/.gradle/4.10.2/javaCompile/javaCompile.lock
example/android/.gradle/4.10.2/javaCompile/taskHistory.bin
example/android/.gradle/4.10.2/taskHistory/taskHistory.bin
example/android/.gradle/4.10.2/taskHistory/taskHistory.lock
example/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
example/android/.gradle/buildOutputCleanup/cache.properties
example/android/.gradle/buildOutputCleanup/outputFiles.bin
example/android/.gradle/vcs-1/gc.properties
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/android/local.properties
example/build/app.dill.track.dill
example/build/app/generated/not_namespaced_r_class_sources/debug/processDebugResources/r/com/example/progressdialogexample/R.java
example/build/app/generated/source/buildConfig/debug/com/example/progressdialogexample/BuildConfig.java
example/build/app/intermediates/annotation_processor_list/debug/javaPreCompileDebug/annotationProcessors.json
example/build/app/intermediates/apk_list/debug/mainApkListPersistenceDebug/apk-list.gson
example/build/app/intermediates/blame/res/debug/multi-v2/debug.json
example/build/app/intermediates/blame/res/debug/multi-v2/values.json
example/build/app/intermediates/blame/res/debug/single/debug.json
example/build/app/intermediates/compatible_screen_manifest/debug/createDebugCompatibleScreenManifests/out/output.json
example/build/app/intermediates/flutter/debug/flutter_assets/AssetManifest.json
example/build/app/intermediates/flutter/debug/flutter_assets/FontManifest.json
example/build/app/intermediates/flutter/debug/flutter_assets/fonts/MaterialIcons-Regular.ttf
example/build/app/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data
example/build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
example/build/app/intermediates/flutter/debug/flutter_assets/LICENSE
example/build/app/intermediates/flutter/debug/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
example/build/app/intermediates/flutter/debug/flutter_assets/vm_snapshot_data
example/build/app/intermediates/flutter/debug/snapshot_blob.bin.d
example/build/app/intermediates/flutter/debug/snapshot_blob.bin.d.fingerprint
example/build/app/intermediates/flutter/flutter-x86.jar
example/build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
example/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/1vAJsVwQEKKmYvMqGZNtUgltmn4=
example/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/uXug12s_+ZvGPxKXv61JdhPAXNw=
example/build/app/intermediates/incremental/debug-mergeJniLibs/merge-state
example/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/1vAJsVwQEKKmYvMqGZNtUgltmn4=
example/build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/uXug12s_+ZvGPxKXv61JdhPAXNw=
example/build/app/intermediates/incremental/mergeDebugAssets/merger.xml
example/build/app/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
example/build/app/intermediates/incremental/mergeDebugResources/compile-file-map.properties
example/build/app/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
example/build/app/intermediates/incremental/mergeDebugResources/merger.xml
example/build/app/intermediates/incremental/mergeDebugShaders/merger.xml
example/build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
example/build/app/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
example/build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/mqGDM6xDQDE+8VMUzbyVM2CU7X0=
example/build/app/intermediates/instant_run_merged_manifests/debug/processDebugManifest/instant-run/output.json
example/build/app/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/progressdialogexample/BuildConfig.class
example/build/app/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/progressdialogexample/MainActivity.class
example/build/app/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/progressdialogexample/R$drawable.class
example/build/app/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/progressdialogexample/R$mipmap.class
example/build/app/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/progressdialogexample/R$style.class
example/build/app/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/example/progressdialogexample/R.class
example/build/app/intermediates/javac/debug/compileDebugJavaWithJavac/classes/io/flutter/plugins/GeneratedPluginRegistrant.class
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/AssetManifest.json
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/FontManifest.json
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/fonts/MaterialIcons-Regular.ttf
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/isolate_snapshot_data
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/kernel_blob.bin
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/LICENSE
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
example/build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/vm_snapshot_data
example/build/app/intermediates/merged_manifests/debug/processDebugManifest/merged/AndroidManifest.xml
example/build/app/intermediates/merged_manifests/debug/processDebugManifest/merged/output.json
example/build/app/intermediates/processed_res/debug/processDebugResources/out/output.json
example/build/app/intermediates/processed_res/debug/processDebugResources/out/resources-debug.ap_
example/build/app/intermediates/res/merged/debug/drawable_launch_background.xml.flat
example/build/app/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher.png.flat
example/build/app/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher.png.flat
example/build/app/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher.png.flat
example/build/app/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher.png.flat
example/build/app/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher.png.flat
example/build/app/intermediates/res/merged/debug/values_values.arsc.flat
example/build/app/intermediates/split_list/debug/splitsDiscoveryTaskDebug/split-list.gson
example/build/app/intermediates/transforms/dexBuilder/debug/2.jar
example/build/app/intermediates/transforms/dexBuilder/debug/3.jar
example/build/app/intermediates/transforms/dexBuilder/debug/4/com/example/progressdialogexample/BuildConfig.dex
example/build/app/intermediates/transforms/dexBuilder/debug/4/com/example/progressdialogexample/MainActivity.dex
example/build/app/intermediates/transforms/dexBuilder/debug/4/com/example/progressdialogexample/R$drawable.dex
example/build/app/intermediates/transforms/dexBuilder/debug/4/com/example/progressdialogexample/R$mipmap.dex
example/build/app/intermediates/transforms/dexBuilder/debug/4/com/example/progressdialogexample/R$style.dex
example/build/app/intermediates/transforms/dexBuilder/debug/4/com/example/progressdialogexample/R.dex
example/build/app/intermediates/transforms/dexBuilder/debug/4/io/flutter/plugins/GeneratedPluginRegistrant.dex
example/build/app/intermediates/transforms/dexBuilder/debug/__content__.json
example/build/app/intermediates/transforms/dexMerger/debug/0/classes.dex
example/build/app/intermediates/transforms/dexMerger/debug/__content__.json
example/build/app/intermediates/transforms/externalLibsDexMerger/debug/0/classes.dex
example/build/app/intermediates/transforms/externalLibsDexMerger/debug/__content__.json
example/build/app/intermediates/transforms/mergeJavaRes/debug/0.jar
example/build/app/intermediates/transforms/mergeJavaRes/debug/__content__.json
example/build/app/intermediates/transforms/mergeJniLibs/debug/0/lib/armeabi-v7a/libflutter.so
example/build/app/intermediates/transforms/mergeJniLibs/debug/0/lib/x86/libflutter.so
example/build/app/intermediates/transforms/mergeJniLibs/debug/0/lib/x86_64/libflutter.so
example/build/app/intermediates/transforms/mergeJniLibs/debug/__content__.json
example/build/app/intermediates/transforms/stripDebugSymbol/debug/0/lib/armeabi-v7a/libflutter.so
example/build/app/intermediates/transforms/stripDebugSymbol/debug/0/lib/x86/libflutter.so
example/build/app/intermediates/transforms/stripDebugSymbol/debug/0/lib/x86_64/libflutter.so
example/build/app/intermediates/transforms/stripDebugSymbol/debug/__content__.json
example/build/app/outputs/apk/app.apk
example/build/app/outputs/apk/app.apk.sha1
example/build/app/outputs/apk/debug/app-debug.apk
example/build/app/outputs/apk/debug/output.json
example/build/app/outputs/logs/manifest-merger-debug-report.txt
example/build/app/tmp/flutterBuildX86Jar/MANIFEST.MF
example/build/frontend_server.d
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Runner/GeneratedPluginRegistrant.m
example/lib/main.dart
example/pubspec.lock
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/android/local.properties
example/build/app.dill.track.dill
example/build/frontend_server.d
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Runner/GeneratedPluginRegistrant.m
example/lib/main.dart
example/pubspec.lock
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
example/android/local.properties
example/build/app.dill.track.dill
example/build/frontend_server.d
example/ios/Runner/GeneratedPluginRegistrant.h
example/ios/Runner/GeneratedPluginRegistrant.m
example/lib/main.dart
example/pubspec.lock
